#--------------------------------#
# Every command is sent with a   #
# trailing \r.                   #
#--------------------------------#

## Get the signal strength
signal|AT+CSQ|Request the current signal strength of the device.

## Get the current operator
operator|AT+COPS?|Requests the name of the current service provider.

## This is a comment!
##sms|at+cmgs="@"|Sends an SMS with a number in the first template spot and a message in the second.
# >
# (160 chars)
# ctrl+z (0x1A)
# +CMGS: 0
# OK

## Answer an incoming call.
answer|ATA|Issues an answer command·

## Hang up
hang|ATH|Issues a hang up command


registered|AT+CREG?|Checks current registration status

Test Command|Stuff=@,CMGS=@|Test content goes in there

read all sms|AT+CMGL="ALL"|Reads all SMS messages.
ATI|ATI|AT information

