#--------------------------------#
# Every command is sent with a   #
# trailing \r.                   #
#--------------------------------#
# Commands take the format:      #
# Name|Command|Description       #
#--------------------------------#

CSQ|AT+CSQ|Request the current signal strength of the device.
COPS|AT+COPS?|Requests the name of the current service provider.
CREG|AT+CREG?|Checks current registration status
CMGL="ALL"|AT+CMGL="ALL"|Reads all SMS messages.
ATI|ATI|AT information
CNUM|AT+CNUM|Get the phone number of this device.
CISC|AT^CISC=@|Stop an internet service.
SICS?|AT^SICS?|Connection information.
SISS?|AT^SISS?|Service information.
